<div class="login">
  <%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
    <h2 class="legend">ユーザー新規登録</h2>
    <%= render "shared/error_messages", model: f.object %>
    <br>

    <div class="field input">
      <%= f.text_field :nickname, maxlength:"12", autofocus: true, autocomplete: "nickname", placeholder:"ニックネーム" %>
    </div>

    <div class="field input">
      <%= f.email_field :email, autocomplete: "email", placeholder:"Eメール" %>
    </div>

    <div class="field input">
      <%= f.password_field :password, autocomplete: "new-password", placeholder:"パスワード(英数字6文字以上)" %>
    </div>

    <div class="field input">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"パスワード(確認用)" %>
    </div>

    <div class="actions">
      <%= f.submit "→", class:"user-submit" %>
    </div>
  <% end %>
  <br>
  <%= render "shared/links" %>
</div>