<div class="login">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h2 class="legend">ログイン</h2>

    <div class="field input">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email" %>
    </div>

    <div class="field input">
      <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions fa fa-long-arrow-right">
      <%= f.submit "→", class:"user-submit" %>
    </div>
  <% end %>
  <br>
  <%= render "shared/links" %>
</div>
