<div class='top-page-body'>
  <div class="index-top-menu">
    <%= form_with url: search_items_path, method: :get, local: true, class:"search-form row g-3 ml-5" do |f| %>
      <div class="col-auto">
        <%= f.text_field :keyword, placeholder: "イヤホンを検索する", class: "search-input form-control" %>
      </div>
      <div class="col-auto">
        <%= f.submit "検索", class: "search-btn btn btn-secondary mb-3" %>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <div class='regis-item mr-5'>
        <%= link_to 'イヤホンを追加する', new_item_path, class:'btn btn-outline-primary' %>
      </div>
    <% end %>
  </div>

<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <% @items.each do |item| %>
        <div class="card-right-and-left">
          <div class='card-item-image w-25 mr-3'>
            <%= image_tag item.image, class:"card-image_photo" if item.image.attached? %>
          </div>
          <div class="mb-6 card-right-content w-100 border border-dark">
            <header class="card-header">
              <div class="card-header-maker"><%= item.maker %></div>
              <h3 class="card-header-title">
                <%= item.name %>
              </h3>
              <div class="card-header-price">¥<%= item.price.to_s(:delimited) %></div>
            </header>
            <div class="card-content">
              <div class="content">
                <div class="content average-score">
                  <div class="star-rating mb-2">
                    <div class="star-rating-front" style="width: <%= item.review_point_percentage %>%">★★★★★</div>
                    <div class="star-rating-back">★★★★★</div>
                  </div>
                  <div class="average-score-display ml-3 pt-2">
                    <%= item.avg_point %>点（<%= item.reviews.count %>件のレビュー）
                  </div>
                </div>
              </div>
            </div>
            <footer class="card-footer">
              <%= link_to item_path(item), class: "button card-footer-item btn-outline-primary" do %>
                詳細を見る
              <% end %>
              <%= link_to compare_item_path(item), class: "button card-footer-item btn-outline-success ml-1" do %>
                製品を比較する
              <% end %>
            </footer>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>