<div class="d-flex justify-content-center">
  <%= link_to '他のイヤホンと比較する', compare_item_path(@item.id), class: "btn btn-primary" %>
</div>
<div class='show-main'><h1 class="text-center border rounded">基本情報</h1>
  <div class='basic-info'>
    <div class='image'>
      <%= image_tag @item.image, class:'photo' %>
    </div>
    <div class='info-text'>
      <h4 class='maker'><%= @item.maker %></h4>
      <h2 class='name'><%= @item.name %></h2>
      <h3 class='price'>¥<%= @item.price.to_s(:delimited) %></h3>
      <%# 評価表示, 星非表示中 %>
      <div class='review-info'>
        <div class="average-score mb-3">
          <div class="star-rating d-none">
            <div class="star-rating-front" style="width: <%= @item.review_point_percentage %>">★★★★★</div>
            <div class="star-rating-back">★★★★★</div>
          </div>
          <div class="average-score-display ml-2">
            <%= @item.avg_point %>点(<%= @item.reviews_number %>件のレビュー)
          </div>
        </div>
      </div>
      <%# /評価表示 %>
      <div class="favorites" id="favorite_<%= @item.id %>">
        <%= render partial: 'shared/favorite', locals: {item: @item} %>
      </div>
    </div>
  </div>
  <div class='detail-info'>
    <h1 class='table-title text-center border rounded'>詳細情報</h1>
    <table border='1', width='70%', class='table'>
      <tr><td>名前</td><td><%= @item.name %></td></tr>
      <tr><td>価格</td><td>¥<%= @item.price.to_s(:delimited) %></td></tr>
      <tr><td>メーカー</td><td><%= @item.maker %></td></tr>
      <tr><td>ドライバー</td><td><%= @item.driver %></td></tr>
      <tr><td>ノイキャン</td><td><%= @item.anc %></td></tr>
      <tr><td>外音取り込み</td><td><%= @item.ambient %></td></tr>
      <tr><td>Bluetoothバージョン</td><td><%= @item.bluetooth %></td></tr>
      <tr><td>コーデック</td><td><%= @item.codec %></td></tr>
      <tr><td>重量</td><td><%= @item.weight %></td></tr>
      <tr><td>発売日</td><td><%= @item.date %></td></tr>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    <div class='review-group' id='review-group'>
      <h1 class="text-center border rounded">レビュー</h1>
      <%= render 'shared/alert' %>
      <% if user_signed_in? %>
        <%= link_to 'レビューを投稿する', new_item_review_path(@item.id), class:'review-link link btn btn-primary' %>
      <% end %>
      <%# 繰り返し処理でレビューを表示させる %>
      <div class="row">
        <% @reviews.each do |review| %>
        <div class='col-sm mt-3'>
          <% if Review.exists? %>
            <div class="show-review-title">タイトル：<%= review.title %></div>
            <div>投稿者　：<%= link_to review.user.nickname, user_path(review.user_id), class:'show-review-user-link link' %></div>
            <div class="show-review-point">評価　　：
              <%# 星表示 %>
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="width: <%= review.point %>">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <%# /星表示 %>
            </div>
            本文：<div class="show-review-text"><%= review.text %></div>
          <% end %>
          <% if user_signed_in? %>
            <% if review.user_id == current_user.id %>
            <%= link_to '編集する', edit_item_review_path(item_id: @item.id, id: review.id), class:'edit-btn link' %>
            <%= link_to '削除する', item_review_path(item_id: @item.id, id: review.id), method: :delete, class:'delete-btn link' %>
            <% end %>
          <% end %>
        </div>
        <% end %>
      </div>
      <%= render 'reviews/form', review: @review, item: @item %>
    </div>
  </div>
</div>