<div class='show-main'><h1>基本情報</h1>
  <div class='basic-info'>
    <div class='image'>
      <%= image_tag @item.image, class:'photo' if @item.image.attached? %>
    </div>
    <div class='text'>
      <h4 class='maker'><%= @item.maker %></h4>
      <h2 class='name'><%= @item.name %></h2>
      <h3 class='price'>¥<%= @item.price.to_s(:delimited) %></h3>
      <%# 評価表示 %>
      <div class='review-info'>
        <div class="average-score mb-3">
          <div class="star-rating ml-2">
            <div class="star-rating-front" style="width: <%= @item.avg_score_percentage %>">★★★★★</div>
            <div class="star-rating-back">★★★★★</div>
          </div>
          <div class="average-score-display">
            （<%= @item.avg_score %>点）
          </div>
        </div>
        <div class='review-quantity'>　(<%= @item.reviews_number %>人)</div>
      </div>
      <%# /評価表示 %>
    </div>
  </div>
  <div class='detail-info'>
    <h1 class='table-title'>詳細情報</h1>
    <table border='1', width='70%', class='table'>
      <tr><td>名前</td><td><%= @item.name %></td></tr>
      <tr><td>価格</td><td>¥<%= @item.price.to_s(:delimited) %></td></tr>
      <tr><td>メーカー</td><td><%= @item.maker %></td></tr>
      <tr><td>ドライバー</td><td><%= @item.driver %></td></tr>
      <tr><td>ノイキャン</td><td><%= @item.anc %></td></tr>
      <tr><td>外音取り込み</td><td><%= @item.ambient %></td></tr>
      <tr><td>Bluetoothバージョン</td><td><%= @item.bluetooth %></td></tr>
      <tr><td>コーデック</td><td><%= @item.codec %></td></tr>
      <tr><td>重量</td><td><%= @item.weight %></td></tr>
      <tr><td>発売日</td><td><%= @item.date %></td></tr>
    </table>
  </div>
  <div class='reviews' id='reviews'><h1>レビュー 一覧</h1>
    <%= render 'shared/alert' %>
    <% if user_signed_in? %>
    <%= link_to 'レビューを投稿する', new_item_review_path(@item.id), class:'review-link link' %>
    <% end %>
    <%# 繰り返し処理でレビューを表示させる %>
    <% @reviews.each do |review| %>
    <div class='review'>
      <% if Review.exists? %>
        <div class="show-review-title"><%= review.title %></div>
        <div class="show-review-point"><%= review.point %></div>
        <div class="show-review-text"><%= review.text %></div>
        <%= link_to review.user.nickname, user_path(review.user_id), class:'show-review-user-link link' %>
      <% end %>
      <% if user_signed_in? %>
        <% if review.user_id == current_user.id %>
        <%= link_to '編集する', edit_item_review_path(item_id: @item.id, id: review.id), class:'edit-btn link' %>
        <%= link_to '削除する', item_review_path(item_id: @item.id, id: review.id), method: :delete, class:'delete-btn link' %>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
